{% set lockConfig = page.url | gpNoteLock(noteProps.lock) %}
{% if lockConfig %}
<script type="application/json" id="dg-note-lock-config">{{ lockConfig | safe }}</script>
<script>document.documentElement.classList.add("dg-note-locked");</script>
<style>
html.dg-note-locked body > :not(.dg-note-lock),
html.dg-note-locked body > :not(.dg-note-lock) * { visibility: hidden !important; }
</style>
{% endif %}
